@page
@model DisasterAlleviationFoundation.Pages.AdminDashboard.AdminResourceAllocationModel
<head>
    <link rel="stylesheet" href="/css/StyleSheet.css" asp-append-version="true" />
</head>
<div class="top-headers">

    <h1>Resource Management</h1>
    <h6 class="form-text">Manage donations to affected areas</h6>

</div>